* {
  margin: 0;
  padding: 0;
  text-decoration: none;
  box-sizing: border-box;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-image: -webkit-linear-gradient(5deg, blue, crimson);
}

.fundo {
  background-color: rgba(0, 0, 0, 0.8);
  position: relative;
  color: white;
  font-size: clamp(1.5rem, 1dvw, 1.5rem);
  top: 80px;
  height: 80.5dvh;
  width: 52dvh;
  border-radius: 20px;
}

.calculadora {
  position: relative;
  left: 40px;
}

#resultado {
  background-color: white;
  width: 40.88dvh;
  height: 6.5dvh;
  margin-top: 2dvh;
  font-size: clamp(3rem, 1dvw, 2.5rem);
  color: black;
  text-align: right;
  padding: 0.5dvh;
  position: relative;
  right: 1dvh;
}

h1 {
  position: relative;
  left: 2.5dvh;
  font-size: clamp(2.5rem, 1dvw, 1.5rem);

}

.botao {
  position: relative;
  width: 8.8dvh;
  height: 8.5dvb;
  background-color: rgb(31, 31, 31);
  color: #ffff;
  border: none;
  font-size: clamp(1.8rem, 1.8dvw, 1.8rem);
  top: 3vh;
  margin: 1dvh;
  left: 18px;
}


@media screen and (min-height:800px) and (max-width:1000px) {
  .fundo{
    width: 48dvb;
    height: 75dvb;
  }
  
  #resultado{
    width: 40dvb;
    padding: 1.8dvw;
    right: 1dvw;
    font-size: clamp(3rem, 1dvw, 2rem);
  }
  
  .botao{
    width: 8dvb;
    left: 3dvb;
    font-size: clamp(2.5rem, 1dvw, 2.5rem);
  }
  h1{
    left: 12dvw;
    font-size: clamp(3rem, 1dvw, 2rem);
  }
}
