*{
  margin: 0;
  padding: 0;
  text-decoration: none;
  box-sizing: border-box;
}
body {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-image: -webkit-linear-gradient(5deg, blue, crimson );
}
.fundo {
  background-color: rgba(0, 0,0,0.8);
  position: relative;
  color: white;
  font-size: 20px;
  top: 80px;
  height: 70vh;
  width: 25vw;
  border-radius: 20px;
}
.calculadora {
  position: relative;
  left: 40px;
}
#resultado {
  background-color: white;
  width: 247px;
  height: 40px;
  margin: 4px;
  font-size: 35px;
  color: black;
  text-align: right;
  padding: 5px;
}
h1{
  position: relative;
  left: 15px;
}
.botao {
  position: relative;
  width: 60px;
  height: 60px;
  background-color: rgb(31,31,31);
  color: #FFFF;
  border: none;
  font-size: 25px;
  bottom: -10px;
  margin: 5px;
  left: 18px;
}
/* Deixando a calculadora responsiva  */

@media screen and (max-width:600px) {
  .fundo {
    width: 55vw;
    height: 85vh;
  }

  .calculadora {
    margin: 8px;
  }
}

/* Deixando a calculadora responsiva  */

@media screen and (max-width:600px) {
  .fundo {
    width: 55vw;
    height: 85vh;
  }

  .calculadora {
    margin: 8px;
  }
}

@media screen and (max-width:599px) {
  .fundo {
    width: 58vw;
    height: 88vh;
    position: relative;
    right: 10px;
  }
}

@media screen and (max-width:536px) {
  .fundo {
    width: 65vw;
    height: 40vh;
    position: relative;
    right: 10px;
  }
}

@media screen and (max-width:450px) {
  .fundo {
    width: 75vw;
    height: 85vh;
    position: relative;
    right: 10px;
  }

}

@media screen and (min-width:400px) {
  .fundo {
    width: 95vw;
    height: 88vh;
    position: relative;
    right: 10px;
  }

}

@media screen and (max-width:380px) {
  .fundo {
    width: 98vw;
    height: 88vh;
    position: relative;
  }
  body {
    width: 100%;
  }
}

@media screen and (min-width:320px) {
  .fundo {
    width: 90vw;
    height: 78vh;
    position: relative;
    left: 5px;
  }

  .botao {
    width: 50px;
    height: 50px;
  }

  #resultado {
    position: relative;
    right: 25px;
  }

  h1 {
    position: relative;
    left: -5px;
  }
}
@media screen and (min-width:750px) {
  .fundo {
    width: 15vw;
    height: 60vh;
    position: relative;
    right: 35px;
  }

  .botao {
    width: 50px;
    height: 50px;
  }

  #resultado {
    position: relative;
    right: 25px;
  }

  h1 {
    position: relative;
    left: -5px;
  }
}


